In [1]:
l = [ "name", "emailid" ,"phone no", "address"]
for i in l :
  print(i)

name
emailid
phone no
address

In [2]:
l = [ "name", "emailid" ,"phone no", "address"]
for i in l :
  print(i + "hider")

namehider
emailidhider
phone nohider
addresshider

In [3]:
h = "badusha"
for i in h :
  print(i)

b
a
d
u
s
h
a

In [6]:
l = [ "name", "emailid" ,"phone no", "address"]
for i in l :
  print(range(len(l)), i)

range(0, 4) name
range(0, 4) emailid
range(0, 4) phone no
range(0, 4) address

In [7]:
l = [ "name", "emailid" ,"phone no", "address"]
for i,j in enumerate(l) :
  print(i,j)

0 name
1 emailid
2 phone no
3 address

In [9]:
l

['name', 'emailid', 'phone no', 'address']

In [11]:
for i in l :
  print(i)
else :
    print("if for loop is going to complete itself then it will come to else")

name
emailid
phone no
address
if for loop is going to complete itself then it will come to else

In [12]:
#if for loop is not going to complete itself then it will not come to else
l

['name', 'emailid', 'phone no', 'address']

In [33]:
for i in l :
   if i == "name" :
       break
   print(i)
      
else :
      print("check this statement")

In [31]:
for i in l :
   if i == "emailid" :
       break
   print(i)
      
else :
      print("check this statement")

name

In [40]:
h = "hiderali"
for i in h :
  if i == "r":
     break
else :
    print("don't execute untill it is printing my name")

In [ ]:
# for else can be used in case if the 2nd(else) condition has to be only happeneing after completion first condition (for loop)
#if the <for> loop is not complete then it won't execute <else>

In [39]:
a = 1 
while a < 6 :
     print(a)
     a = a + 1

1
2
3
4
5

In [43]:
 a = 1
 while a < 5 :
      print(a)
      if a == 4 :
          break 
      a = a + 1

1
2
3
4

In [49]:
a = 1
while a < 5 :
    print(a)
    a = a + 1
    if a == 3 :
         continue

1
2
3
4

In [50]:
# in the above example while is true till a=4, but if is only true when a=3 and it continues 
#here if doesn't impact as the while loop  is gonna continue untill its condition becomes false
#if the  a= a+1 condition was in the last line , it is gonna give infinite number of 3s after 1&2. like 1233333333333333333.........

In [51]:
while a < 5 :

SyntaxError: ignored

In [52]:
while a < 5 :
  pass

In [53]:
for i in l :

SyntaxError: ignored

In [56]:
for i in l :
   pass

In [55]:
while a < 4 :
   break

In [57]:
while a < 4 :
     continue
    #this will keep on executing

In [58]:
# print triangular/pyramid structure similar to 1s2 2s2 2p6 3s2 3p6 3d10 4s2 4p6 4d10 4f14 etc

In [59]:
range(6)

range(0, 6)

In [61]:
#<range> acts like data generator/producer as a range of data
#if you want to get n number of data , need to request n+1 data , it excludes the last one similar to slicing ops and indexing , list parsing ops
#won't be able to see the data untill or unless u hold the data in some of the collections

In [62]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [63]:
range(0,7)

range(0, 7)

In [64]:
# 0 is lower bound
# 7 is upper bound

In [65]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [69]:
list(range(3,15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [70]:
list(range(3,15, 3))

[3, 6, 9, 12]

In [71]:
list(range(6,120, 6))

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114]

In [72]:
list(range(3,15, -1))

[]

In [73]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [74]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [75]:
for i in range(7) :
   print(i)

0
1
2
3
4
5
6

In [76]:
for i in range(10,-5,-2) :
  print(i)

10
8
6
4
2
0
-2
-4

In [77]:
n = 5
for i in range(0,n):
   for j in range(0,i+1) :
      print("*",end = "")
   print("\r")

*
**
***
****
*****

In [78]:
# print triangular/pyramid structure similar to 1s2 2s2 2p6 3s2 3p6 3d10 4s2 4p6 4d10 4f14 etc.
#<i> is helping us to create rows and <j> is helping to create colomns 
#n = 5 means 5*5 matrix/sheet where allocating the values

In [82]:
for i in range(0,5) :
   print(i)

0
1
2
3
4

In [89]:
n = -5
for i in range(n,0):
   for j in range(i+1,0) :
      print("hider ",end = "")
   print("\r")

hider hider hider hider
hider hider hider
hider hider
hider

In [103]:
n = 8
for i in range(0,n):
   for j in range(0,i+1) :
      print("ali ",end = "")
   print("\r")

ali
ali ali
ali ali ali
ali ali ali ali
ali ali ali ali ali
ali ali ali ali ali ali
ali ali ali ali ali ali ali
ali ali ali ali ali ali ali ali

In [106]:
n = 4
for i in range(0,n):
   for j in range(0,i+1) :
      print("ali ")
   print("\r")

ali

ali
ali

ali
ali
ali

ali
ali
ali
ali

In [108]:
n = 4
for i in range(0,n):
   for j in range(0,i+1) :
      print("ali ", end = "u")
   print("\r")

ali u
ali uali u
ali uali uali u
ali uali uali uali u

In [110]:
n = 4
for i in range(0,n):
   for j in range(0,i+1) :
      print("ali ", end = "")
   print("\n")

ali

ali ali

ali ali ali

ali ali ali ali

In [111]:
n = 4
for i in range(0,n):
   for j in range(0,i+1) :
      print("ali ", end = "")
   print("\r")

ali
ali ali
ali ali ali
ali ali ali ali

In [112]:
#<\r> 'carriage return' for next line without space
#<\n> 'next line' or end , gives a line space

In [113]:
n = 4
for i in range(0,n):
   for j in range(0,i+1) :
      print("ali ", end = "")
   print("\n\n\n")

ali



ali ali



ali ali ali



ali ali ali ali

In [ ]:
#1:35